section {
	/* border: 2px solid black; */
}
header {
	background-color: black;
}
.logfield {
	width: 110px;
	float: left;
	margin-right: 5px;
	border-radius: 5px;
}
.logbutton {
	float: left;
	margin-right: 5px;
	border-radius: 5px;
}
.navcol {
	background-color: rgb(50,50,50);
}
nav {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}
	nav ul li {
		display: inline;
		margin-right: 55px;
		color: white;
	}
.wrapper {
	background-color: rgb(20,20,110);
}
h2 {
	text-align: center;
	background-color: gray;
	color: black;
	padding: 8px 10px;
	margin: 10px 70px;
	border-radius: 10px;
	border: 1px solid white;
	font-weight: bold;
	font-family: impact, 'Times New Roman', Arial;
}
h3 {
	background-color: gray;
	color: red;
	border-radius: 10px;
	border: 1px solid darkgray;
	padding: 8px 5px;
	margin: 10px 10px;
}
table {
	background-color: black;
	margin: 20px 5px;
	text-align: center;
}
	table img {
		width: 8rem;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	table figure {
		display: block;
		float: left;
		width: 14rem;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	table figcaption {
		color: white;
	}
	#tableleft {
		border-radius: 50px 0px 0px 0px;
		border-right: 2px solid white;
		border-bottom: 2px solid white;
	}
	#tablemid {
		border-bottom: 2px solid white;
	}
	#tableright {
		border-radius: 0px 50px 0px 0px;
		border-left: 2px solid white;
		border-bottom: 2px solid white;
	}
		#tableright h2 {
			margin-left: 5px;
			margin-right: 15px;
		}
.orderamount {
	margin-bottom: 10px;
}
#asidecamp {
	background-color: black;
 	margin: 20px 10px 20px 10px;
	font-family: impact, 'Times New Roman', Arial;
}
	#asidecamp img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 150px;
	}
#asideheader {
	color: red;
	background-color: black;
	padding-top: 20px;
	border: 0;
	margin: 10px 10px;
}
#asidelargetext {
	font-size: 20pt;
	color: white;
	text-align: center;
	margin-top: 10px;
}
#asidesmalltext {
	color: white;
	text-align: center;
	padding-bottom: 20px;
}
footer {
	background-color: black;
	color: white;
}