section {
	/* border: 2px solid black; */
}
header {
	background-color: black;
}
.logfield {
	width: 110px;
	float: left;
	margin-right: 5px;
	border-radius: 5px;
}
.logbutton {
	float: left;
	margin-right: 5px;
	border-radius: 5px;
}
.navcol {
	background-color: rgb(50,50,50);
}
nav {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}
	nav ul li {
		display: inline;
		margin-right: 55px;
		color: white;
	}
.wrapper {
	background-color: rgb(20,20,110);
}
h2 {
	text-align: center;
	background-color: gray;
	color: black;
	padding: 8px 10px;
	margin: 10px 70px;
	border-radius: 10px;
	font-weight: bold;
}
h3 {
	background-color: gray;
	color: red;
	border-radius: 10px;
	border: 1px solid darkgray;
	padding: 8px 5px;
	margin: 10px 10px;
}
table {
	background-color: black;
	margin: 20px 5px;
	text-align: center;
}
	table img {
		width: 8rem;
	}
	table figure {
		display: block;
		float: left;
		width: 14rem;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	table figcaption {
		color: white;
	}
	#tableleft {
		border-radius: 50px 0px 0px 0px;
		columns: 80px 3;
	}
footer {
	background-color: black;
	color: white;
}