section {
	border: 2px solid black;
}
header {
	background-color: black;
}
.logfield {
	width: 110px;
	float: left;
	margin-right: 5px;
	border-radius: 5px;
}
.logbutton {
	float: left;
	margin-right: 5px;
	border-radius: 5px;
}
.navcol {
	background-color: rgb(50,50,50);
}
nav {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}
	nav ul li {
		display: inline;
		margin-right: 55px;
		color: white;
	}
.wrapper {
	background-color: rgb(20,20,110);
}
h2 {
	text-align: center;
	background-color: gray;
	color: black;
	padding: 8px 10px;
	margin: 10px 70px;
	border-radius: 10px;
}
h3 {
	background-color: gray;
	color: red;
	padding: 10px 10px;
	margin: 20px auto;
	float: left;
	border-radius: 10px;
	border: 1px solid darkgray;
}
fieldset {
	background-color: black;
	border: 2px solid black;
	margin: 20px 5px;
	border: 2px solid white;
	text-align: center;
}
	fieldset img {
		width: 8rem;
	}
	fieldset figure {
		display: block;
		float: left;
		width: 14rem;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	fieldset figcaption {
		color: white;
	}
	#fieldleft {
		border-radius: 50px 0px 0px 0px;
	}
footer {
	background-color: black;
	color: white;
}