body {
			background-color: rgb(220,230,255)
}
fieldset img {
			width: 150px;
			border-radius: 30% 30%/25%;
			display: block;
			margin-left: auto;
			margin-right: auto;
}
fieldset {
			width: 290px;
			height: 400px;
			float: left;
}
.productid {
			font-weight: bold;
}
.displayprice {
			color: red;
			font-size: 2rem;
			font-weight: bold;
}
.orderamount {
			width: 50px;
			margin-left: 5.5rem;
			
}
fieldset p {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
}
.authorfoot {
			font-style: italic;
}
footer {
			clear: both;
}
td img {
			width: 80px;
			display: block;
			margin-left: auto;
			margin-right: auto;
}
#carttable {
			border: solid black 4px;
			border-spacing: 25px 5px;
			width: 900px;
			text-align: center;
}
.cartorderamount {
			text-align: center;
			width: 40px;
}
#shipcol {
			height: 75px;
			font-weight: bold;
}
#totalsum {
			height: 75px;
			font-weight: bold;
			font-size: 20pt;
			color: red;
}
.trashcol {
			border-spacing: 10px 10px;
}
.trashimg {
			height: 25px;
			width: 25px;
}
#orderbutton {
			display: block;
			margin-left: auto;
}
#shiptable {
			border: solid black 3px;
			border-spacing: 10px 5px;
}
.receit {
			text-align: center;
}
#receittable {
			border: solid black 4px;
			border-spacing: 25px 5px;
			width: 900px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
}
#surveybutton {
			margin-top: 10px;
}
#surveytable {
			border: solid black 2px;
			border-spacing: 10px 5px;
}
.surveyhl {
			font-weight: bold;
}
#surveysubmit {
			display: block;
			margin-left: auto;
			margin-right: auto;
}
#tackbody {
			text-align: center;
			margin-top: 10rem;
}